body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper{
    padding: 0rem 10rem;
    margin: auto;  
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    opacity: 0.8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.carousel-cell {
    width: 100%;
}
.carousel-cell:before {
    display: block;
}
.image{
    width: 100%;
    height: 100%;
}
.carousel-cell{
    margin: auto;
    text-align: center;
}
.carousel_and_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 2rem;
}
.details p{
    opacity: 0.7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details h6{
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
    font-weight: 100;
}
.details h5 span{
    color:#00d19b ;
}
.icon-star{
    color: #00d19b;
    margin: 0.1rem;
}
.submit_review{
    border-bottom: black 1px solid;
    padding-bottom: 0.2rem;
    opacity: 0.8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 0.7rem;
    cursor: pointer;
}
.smallImages{
    margin-top: 2rem;
}
.image_small{
    width: 20%;
    height: 20%;
    margin: 0.3rem;
}
.features{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-top: 3rem;
}
.icon_and_details{
    display: flex;
    margin: 0.4rem;
}
.feature_details{
    margin-top: -1.3rem;
    margin-left: 0.6rem;
}
.feature_details h3{
    font-weight: lighter;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feature_details p{
    opacity: 0.7;
}

button{
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cart{
    background-color: black;
    color: white;
}
.wishlist{
    border: 1px black solid;
}

@media only screen and (max-width: 900px){
    .carousel_and_detail{
        display: block;
    }
    .features{
        display:block;
        margin-top: 3rem;
    }
    .wrapper{
        padding: 2rem;
        margin: auto;  
    }
    
}

@media only screen and (max-width: 1000px){
    button{
        margin-top: 1rem;
    }
}
